<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bob Smith | Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

<body>
    <main class="main main--error">
        <h1>404 - Page Not Found</h1>
        <p>
            Sorry brother, the page you're looking for is lost in metaverse. <br>
            Or it may have been mis-spelled / doesn't exist anymore.
        </p>
        <a class="cta" href="{{ url_for('home') }}">
            <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.svg') }}">
            <span>Go home</span>
        </a>
    </main>
</body>

</html>