{% extends 'base.html.j2' %}

{% block content %}
    <main class="main main--content">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:hugo.cosme@udea.edu.co">hugo.cosme@udea.edu.co</a>
                </dd> 
            </div>
            <div class="contact">
                <dt>Github:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/hac0sme">@hac0sme</a>
                </dd> 
            </div>
            <div class="contact">
                <dt>Linkedin:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://www.linkedin.com/in/hugo-alejandro-cosme-5151bb19b/">@HugoACosme</a>
                </dd> 
            </div>
        </dl>
    </main>
{% endblock %}