{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="A hand holding a pen, about to write something in a project planner."
            />

            <article class="project">
                <article class="project__content">
                    <div class="project__title">
                        <h2 class="project__heading">{{ project['name'] }}:</h2>
                        <a class="cta" href="{{ project['prod'] }}" target="_blank">
                            <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.svg') }}">
                            <span>View</span>
                        </a>
                    </div>

                    <p class="project__paragraph">
                        Personal blog intended for writing ideas and any goals using Mongo DB as a database.
                        Anyone can enter and write, the date and the comment are stored, without user registration at the moment.
                        It was my first project using Flask, so it was easy and perfect for getting started.
                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">HTML</li>
                            <li class="technology-list__item">CSS</li>
                            <li class="technology-list__item">Flask/Jinja2</li>
                            <li class="technology-list__item">Mongo DB</li>
                        </ul>
                    </article>

                    
                </section>
            </article>
        </div>
    </main>
{% endblock %}