{% extends 'base.html.j2' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="A hand holding a pen, about to write something in a project planner."
            />

            <article class="project">
                <article class="project__content">
                    <div class="project__title">
                        <h2 class="project__heading">{{ project['name'] }}:</h2>
                        <a class="cta" href="{{ project['prod'] }}" target="_blank">
                            <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.svg') }}">
                            <span>View</span>
                        </a>
                    </div>

                    <p class="project__paragraph">
                        Web application made for a residential condominium with horizontal property.
                        The client was looking for an application to perform special votes,
                        with different weight coefficients for each voter.
                        The project was executed with about 300 apartments, providing the necessary logistics to carry out the assembly. 
                    </p>
                    <p class="project__paragraph">
                        The questions, voting and counting were carried out automatically,
                        providing immediate response with graphs and quorum verification.
                        Also offering support service related to delivery and correct functioning of QR codes.
                    </p>
                    <p class="project__paragraph">
                        In case you would like to see the project please contact me to grant permission (privacy policies).
                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">PHP</li>
                            <li class="technology-list__item">HTML</li>
                            <li class="technology-list__item">CSS</li>
                            <li class="technology-list__item">JavaScript</li>
                            <li class="technology-list__item">MySQL</li>
                            <li class="technology-list__item">Codeigniter</li>
                            <li class="technology-list__item">JQuery</li>
                        </ul>
                    </article>

                    
                </section>
            </article>
        </div>
    </main>
{% endblock %}